.pagination {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		&.disabled {
			opacity: 0.5;
		}
		&.previous,
		&.next {
			a {
				background: #ddd;
			}
		}
		&.active {
			a {
				background: blue;
				color: #fff;
			}
		}
		&.break {
			padding: 1em;
		}
		a {
			display: block;
			padding: 1em 1.25em;
			background: #eee;
			cursor: pointer;
		}
	}
	.break a {
		cursor: default;
	}
}
