@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "base/mixins";
@import "base/color";

// Variables;
@import "base/variables";

// Reset
@import "base/normalize";

// components
@import "base/global";
@import "base/roboto";
@import "base/typography";  
@import "base/grid";
@import "components/buttons";
@import "components/preloader"; 

header, footer, main {
	padding:2em 0 1em;
}

header {
	border-bottom: 1px solid #ccc;
}

footer {
	border-top: 1px solid #ccc;
}

.map {
	height:30em;
	margin:0 0 1.5em;
}