@mixin clearfix {
    &:after {
        content: "";
        display: table; 
        clear: both;
    }
}

@mixin breakpoint($point) {
    @if $point == first {
        @media (min-width: 30em) { @content; }
    }
    @if $point == second {
        @media (min-width: 48em) { @content; }
    }
    @if $point == third {
        @media (min-width: 60em) { @content; }
    }
    @if $point == fourth {
        @media (min-width: 71em) { @content; }
    }
}